<div style="text-align:center">
  <h1>Sudoku Combinatorial Evolution Solver</h1>
</div>

<table>
  <tr>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
  </tr>
  <tr>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
  </tr>
  <tr>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
  </tr>
  <tr>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
  </tr>
  <tr>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
  </tr>
  <tr>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
  </tr>
  <tr>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
  </tr>
  <tr>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
  </tr>
  <tr>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td class="border-info border-right">
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
    <td>
      <input type="number" value="">
    </td>
  </tr>
</table>